/**********************************************************************************/
/* CONTENEDOR */

#contenedorApp{
	font-family:Arial, Helvetica, sans-serif;
	width: 950px;
	height: 822px;
	position:absolute;
	top: 0px;
	left: 0px;
	border-spacing: 0; /* !ie*/ 	
	border-collapse:collapse; /* ie*/
}


/**********************************************************************************/
/* HEADER */

#cabezal{
	width: 950px;
	height: 162px;
}

#titulo {
    font-family: Georgia,serif;
    font-size: 150%;
    font-weight: lighter;
    height: 30px;
    left: 0;
    position: absolute;
    top: 65px;
    width: 381px;
}

#beta {
    color: #FF0000;
    font-size: 10px;
    font-weight: bold;
    height: 16px;
    left: 152px;
    position: absolute;
    top: 56px;
    width: 32px;
}

#diputadosBtn,
#senadoresBtn {
    font-size: 90%;	
	height: 25px;
	width: 175px;
	border-left: 1px solid #CECECE;
    cursor: pointer;
    position: absolute;
}

#diputadosBtn{
    left: 2px;
    top: 114px;
}

#senadoresBtn{
    left: 192px;
    top: 114px;
}

#diputadosBtn span,
#senadoresBtn span {
    bottom: -4px;
    position: absolute;
    right: 26px;
}

#diputadosBtn:hover,
#senadoresBtn:hover{
	font-weight: bold;
}

.diputadosBtnSelected{
	background: url("../img/sprite.png") no-repeat 0 0px;
  	cursor: default;
}

.diputadosBtnNotSelected{
	background: url("../img/sprite.png") no-repeat 0 -25px;
  	cursor: pointer;
}

.senadoresBtnSelected{
	background: url("../img/sprite.png") no-repeat 0 -50px;
  	cursor: default;
}

.senadoresBtnNotSelected{
	background: url("../img/sprite.png") no-repeat 0 -75px;
  	cursor: pointer;
}

#contenedorApp #selectorMapa {
	width: 35px;
	height: 19px;
	position: absolute;
	top: 148px;
}

.selectDiputados{
	background: url("../img/sprite.png") no-repeat scroll -28px -109px transparent;
	left: 21px;	
}

.selectSenadores{
	background: url("../img/sprite.png") no-repeat scroll -28px -130px transparent;
	left: 212px;	
}

#referenciasGenerales,
#referenciasVotos{
    color: #949493;
    font-size: 71.5%;
    height: 91px;
    left: 373px;
    line-height: 130%;
    position: absolute;
    top: 59px;
    width: 123px;
}

#referenciasGenerales p, 
#referenciasVotos p{
	margin-left: 5px;
	margin-right: 5px;
}	
	
#referenciasColores	{
    border-left: 1px solid #CECECE;
    border-right: 1px solid #CECECE;
    height: 66px;
    left: 497px;
    position: absolute;
    top: 81px;
    width: 349px;
}

#referenciasColores table {
	width: 100%;
	padding: 0px;
	margin: 0px;
}


#referenciasColores .colorCelda {
	width: 25px;
}

#referenciasColores .textoCelda {
	width: 150px;
    font-size: 71.5%;
    line-height: 130%;	
	
}


#shareView	{
    height: 66px;
    left: 861px;
    position: absolute;
    top: 81px;
    width: 86px; 
}	

#logoShare{
	background: url("../img/sprite.png") no-repeat scroll 0px -156px transparent;
	height: 18px;
    width: 36px; 
}

#textoShare{
    color: #949493;
    font-size: 80%;
}

#arrowShare{
    background: url("../img/sprite.png") no-repeat scroll -36px -156px transparent;
    height: 31px;
    float: right;
    width: 19px;
}

#contenido{
	width: 950px;
	height: 600px;
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
	display: block;	
}

/**********************************************************************************/
/* La botonera izquierda */

#botones{
	float: left;
	width: 130px;
	height: 600px;
}


#botones button{
	width: 130px;
	height: 25%;
}



/**********************************************************************************/
/* ASIGNARLE LOS TAMAÑOS E IMAGENES CORRESPONDIENTES */

#botonUNO {
	width: 90px;
	height: 20px;
	background: url("img/spriteBotones.png");
}

#botonUNO:hover {
	background: url("img/spriteBotones.png");
}

#botonUNO:active {
	background: url("img/spriteBotones.png");
}

#botonUNO:disable {
	background: url("img/spriteBotones.png");
}


/**********************************************************************************/
/* Le mapa */

#map_arg{
	width: 529px;
	height: 600px;
	left: 130px;
}


/**********************************************************************************/
/* Las barras */

#contenedorApp #contenido #barras{
	float: right;
	width: 290px;
	height: 600px;
	border-left: 1px solid #CECECE;

}

#referenciaBarras{
	width: 290px;
	height: 115px;
}	


#referenciaTituloProvincia{
	font-family: Arial,Helvetica,sans-serif;
    font-size: 90%;	
	font-weight: bold;
	color: #000000;
}

#referenciaTotal{
	background-color: #E6E6E6;
	padding: 2px 4px 2px 4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;	
	font-weight: bold;
	color: #595959;
}

#referenciaNombreLocalidad{
    background-color: #000000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 80%;
    font-weight: bold;
    padding: 2px 4px 2px 4px;
}

#graficoBarras{
	width: 290px;
	height: 455px;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

#totalBarras{
	border-top: 1px solid #CECECE;
	width: 290px;
	height: 30px;
}

#mesas{
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 59%;
    left: 232px;
}

#votos{
    color: #990000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 59%;
    left: 146px;
}



/**********************************************************************************/
/* Footer                                                                         */
/**********************************************************************************/

#contenedorApp #footer{
	padding-top:1.5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 71.7%;
	text-align: left;
	color: black;
	width: 950px;
	height: 40px;
	position:absolute;
	top: 760px;
	left: 0px;
	border: 0px;	    
}

#contenedorApp #footer .creditos {
	display:inline;
}

#contenedorApp #footer #creditos {
	padding-right:1%;
	/*border-right: 1px solid #808080;*/
	font-weight: bold;
}


#contenedorApp #footer #creditos:hover {
	color: #949493;
	cursor: pointer;
}

#contenedorApp #footer #ppagrupados {
	padding-left:1%;
	font-weight: bold;
}

#contenedorApp #footer #ppagrupados:hover {
	color: #949493;
	cursor: pointer;
}

#contenedorApp #footer .creditos span {
	color:#E06153;
}

#contenedorApp #footer #feedback a {
	float:right;
}

#contenedorApp #footer #feedback a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #949493;
}

#contenedorApp #footer #feedback a:hover {
	color: black;
	cursor: pointer;
}


