/**********************************************************************************/
/* General Bar Styles                                                             */
/**********************************************************************************/

.sinDatos {
    font-weight: bold;
    left: 10px;
    position: relative;
    top: 10px;
}

.contenedorBar{
	width: 285px;
	height: 62px;
	border-top: 1px solid #CECECE;
	padding-left: 5px;
	padding-top: 11px;
}

.nombreBar {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:bold;
}


.barraBar {
	height: 24px;
	width: 1px;
	position:relative;
	top: 10px;
}

.cantidadBar {
	font: 10px "Arial Narrow", Helvetica, sans-serif;
	position:relative;
	top:-17px;
	color: #808080;
}

.porcentajeBar {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight:bold;
	position:relative;
	top:-17px;
}

/**********************************************************************************/
/* Detailed Bar Styles                                                            */
/**********************************************************************************/

.contenedorDet {
	position:relative;	
	width: 270px;
	border-top: 1px solid #CECECE;
	padding-left: 5px;
	padding-top: 13px;
	overflow: hidden;
	background: white url("../img/caritas/silueta.png") no-repeat 95% 100%; 
 	min-height:94px;    
	
}

.nombreDet {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:bold;
	width: 180px;	
	padding-top: 5px;
	padding-bottom: 5px;
}


.candidatoDet {
	font: 12px Arial, Helvetica, sans-serif;
	color: #808080;
}


.cantidadDet {
	font: 10px "Arial Narrow", Helvetica, sans-serif;
	color: #808080;
}

.barraDet {
	height: 13px;
	width: 1px;
	margin-top: 10px;
}

.porcentajeDet {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight:bold;
    position: relative;
    top: -16px;	
}

.lineaDet{
    border-left: 1px solid #CECECE;
    height: 100%;
    left: 190px;
    position: absolute;
    top: 0;
    width: 10px;
}

.bancasDet{
	font: 14px Arial, Helvetica, sans-serif;
	font-weight:bold;	
    bottom: 15px;
    height: 20px;
    left: 181px;
    position: absolute;
    width: 20px;
    text-align: center;
	-webkit-border-radius: 100px;
	-o-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;   
}

