.diputados { background: url("../img/caritas/diputados.png") no-repeat bottom right;} 
.diputados.BUE-501 { background-position: right 0px;  } 
.diputados.BUE-505 { background-position: right -89px;  } 
.diputados.BUE-507 { background-position: right -178px;  } 
.diputados.BUE-510 { background-position: right -267px;  } 
.diputados.BUE-513 { background-position: right -356px;  } 
.diputados.BUE-514 { background-position: right -445px;  } 
.diputados.CAP-187 { background-position: right -534px;  } 
.diputados.CAP-501 { background-position: right -623px;  } 
.diputados.CAP-502 { background-position: right -712px;  } 
.diputados.CAP-503 { background-position: right -801px;  } 
.diputados.CAP-505 { background-position: right -890px;  } 
.diputados.CAP-506 { background-position: right -979px;  } 
.diputados.CAT-014 { background-position: right -1068px;  } 
.diputados.CAT-501 { background-position: right -1157px;  } 
.diputados.CAT-508 { background-position: right -1246px;  } 
.diputados.CAT-509 { background-position: right -1335px;  } 
.diputados.CBA-003 { background-position: right -1424px;  } 
.diputados.CBA-047 { background-position: right -1513px;  } 
.diputados.CBA-191 { background-position: right -1602px;  } 
.diputados.CBA-217 { background-position: right -1691px;  } 
.diputados.CBA-501 { background-position: right -1780px;  } 
.diputados.CBA-503 { background-position: right -1869px;  } 
.diputados.CBA-505 { background-position: right -1958px;  } 
.diputados.CBA-512 { background-position: right -2047px;  } 
.diputados.CBA-514 { background-position: right -2136px;  } 
.diputados.CHA-501 { background-position: right -2225px;  } 
.diputados.CHA-505 { background-position: right -2314px;  } 
.diputados.CHA-519 { background-position: right -2403px;  } 
.diputados.COR-515 { background-position: right -2492px;  } 
.diputados.ERI-068 { background-position: right -2581px;  } 
.diputados.JUJ-505 { background-position: right -2670px;  } 
.diputados.CHU-003 { background-position: right -2759px;  } 
.diputados.CHU-038 { background-position: right -2848px;  } 
.diputados.LAP-525 { background-position: right -2937px;  } 
.diputados.LAP-526 { background-position: right -3026px;  } 
.diputados.LRJ-061 { background-position: right -3115px;  } 
.diputados.LRJ-501 { background-position: right -3204px;  } 
.diputados.LRJ-504 { background-position: right -3293px;  } 
.diputados.LRJ-548 { background-position: right -3382px;  } 
.diputados.LRJ-549 { background-position: right -3471px;  } 
.diputados.MIS-003 { background-position: right -3560px;  } 
.diputados.CHU-047 { background-position: right -3649px;  } 
.diputados.CHU-152 { background-position: right -3738px;  } 
.diputados.CHU-501 { background-position: right -3827px;  } 
.diputados.COR-501 { background-position: right -3916px;  } 
.diputados.COR-517 { background-position: right -4005px;  } 
.diputados.ERI-003 { background-position: right -4094px;  } 
.diputados.ERI-545 { background-position: right -4183px;  } 
.diputados.FOR-501 { background-position: right -4272px;  } 
.diputados.FOR-521 { background-position: right -4361px;  } 
.diputados.LAP-002 { background-position: right -4450px;  } 
.diputados.FOR-014 { background-position: right -4539px;  } 
.diputados.NEU-040 { background-position: right -4628px;  } 
.diputados.NEU-153 { background-position: right -4717px;  } 
.diputados.NEU-166 { background-position: right -4806px;  } 
.diputados.NEU-501 { background-position: right -4895px;  } 
.diputados.NEU-505 { background-position: right -4984px;  } 
.diputados.NEU-532 { background-position: right -5073px;  } 
.diputados.NEU-533 { background-position: right -5162px;  } 
.diputados.RNO-003 { background-position: right -5251px;  } 
.diputados.RNO-014 { background-position: right -5340px;  } 
.diputados.RNO-154 { background-position: right -5429px;  } 
.diputados.RNO-501 { background-position: right -5518px;  } 
.diputados.COR-516 { background-position: right -5607px;  } 
.diputados.ERI-501 { background-position: right -5696px;  } 
.diputados.MZA-528 { background-position: right -5785px;  } 
.diputados.JUJ-524 { background-position: right -5874px;  } 
.diputados.LAP-022 { background-position: right -5963px;  } 
.diputados.LAP-184 { background-position: right -6052px;  } 
.diputados.CHU-157 { background-position: right -6141px;  } 
.diputados.MIS-529 { background-position: right -6230px;  } 
.diputados.MZA-504 { background-position: right -6319px;  } 
.diputados.SAL-014 { background-position: right -6408px;  } 
.diputados.SAL-535 { background-position: right -6497px;  } 
.diputados.MZA-505 { background-position: right -6586px;  } 
.diputados.MZA-527 { background-position: right -6675px;  } 
.diputados.SCR-014 { background-position: right -6764px;  } 
.diputados.JUJ-522 { background-position: right -6853px;  } 
.diputados.JUJ-523 { background-position: right -6942px;  } 
.diputados.JUJ-208 { background-position: right -7031px;  } 
.diputados.JUJ-501 { background-position: right -7120px;  } 
.diputados.JUJ-068 { background-position: right -7209px;  } 
.diputados.MIS-501 { background-position: right -7298px;  } 
.diputados.SCR-002 { background-position: right -7387px;  } 
.diputados.SAL-536 { background-position: right -7476px;  } 
.diputados.SAL-216 { background-position: right -7565px;  } 
.diputados.RNO-534 { background-position: right -7654px;  } 
.diputados.SAL-002 { background-position: right -7743px;  } 
.diputados.NEU-023 { background-position: right -7832px;  } 
.diputados.SAL-200 { background-position: right -7921px;  } 
.diputados.SAL-155 { background-position: right -8010px;  } 
.diputados.SAL-054 { background-position: right -8099px;  } 
.diputados.SAL-038 { background-position: right -8188px;  } 
.diputados.SCR-038 { background-position: right -8277px;  } 
.diputados.SCR-501 { background-position: right -8366px;  } 
.diputados.SJU-168 { background-position: right -8455px;  } 
.diputados.SAL-060 { background-position: right -8544px;  } 
.diputados.SFE-501 { background-position: right -8633px;  } 
.diputados.SFE-180 { background-position: right -8722px;  } 
.diputados.SFE-539 { background-position: right -8811px;  } 
.diputados.SGO-324 { background-position: right -8900px;  } 
.diputados.SGO-514 { background-position: right -8989px;  } 
.diputados.SGO-061 { background-position: right -9078px;  } 
.diputados.SGO-541 { background-position: right -9167px;  } 
.diputados.SJU-061 { background-position: right -9256px;  } 
.diputados.SFE-068 { background-position: right -9345px;  } 
.diputados.SFE-505 { background-position: right -9434px;  } 
.diputados.SLU-514 { background-position: right -9523px;  } 
.diputados.SJU-156 { background-position: right -9612px;  } 
.diputados.TDF-002 { background-position: right -9701px;  } 
.diputados.SLU-150 { background-position: right -9790px;  } 
.diputados.SJU-537 { background-position: right -9879px;  } 
.diputados.SJU-504 { background-position: right -9968px;  } 
.diputados.TDF-199 { background-position: right -10057px;  } 
.diputados.TDF-158 { background-position: right -10146px;  } 
.diputados.SGO-501 { background-position: right -10235px;  } 
.diputados.SJU-501 { background-position: right -10324px;  } 
.diputados.SAL-203 { background-position: right -10413px;  } 
.diputados.TDF-201 { background-position: right -10502px;  } 
.diputados.TDF-501 { background-position: right -10591px;  } 
.diputados.TUC-186 { background-position: right -10680px;  } 
.diputados.TUC-501 { background-position: right -10769px;  } 
.diputados.TDF-174 { background-position: right -10858px;  } 
.diputados.SFE-547 { background-position: right -10947px;  } 
.diputados.TUC-064 { background-position: right -11036px;  } 
.diputados.SLU-501 { background-position: right -11125px;  } 
.diputados.TDF-544 { background-position: right -11214px;  } 
.diputados.TDF-003 { background-position: right -11303px;  } 
.diputados.TUC-505 { background-position: right -11392px;  } 
.diputados.ERI-528 { background-position: right -11481px;  } 
.diputados.TDF-069 { background-position: right -11570px;  } 
.diputados.TUC-542 { background-position: right -11659px;  } 
.diputados.MIS-050 { background-position: right -11748px;  } 
.diputados.MZA-003 { background-position: right -11837px;  } 
.diputados.MIS-531 { background-position: right -11926px;  } 
.diputados.MZA-501 { background-position: right -12015px;  } 
.diputados.LAP-190 { background-position: right -12104px;  } 
.diputados.SLU-504 { background-position: right -12193px;  } 
.diputados.SFE-514 { background-position: right -12282px;  } 
.diputados.TUC-181 { background-position: right -12371px;  } 
.diputados.TUC-543 { background-position: right -12460px;  } 
.diputados.SCR-538 { background-position: right -12549px;  } 
.diputados.SJU-003 { background-position: right -12638px;  } 


.senadores { background: url("../img/caritas/senadores.png") no-repeat bottom right; } 
.senadores.CAP-187 { background-position: right 0px;  } 
.senadores.CAP-501 { background-position: right -99px;  } 
.senadores.CAP-502 { background-position: right -198px;  } 
.senadores.CAP-503 { background-position: right -297px;  } 
.senadores.CAP-505 { background-position: right -396px;  } 
.senadores.CAP-506 { background-position: right -495px;  } 
.senadores.CHA-501 { background-position: right -594px;  } 
.senadores.CHA-505 { background-position: right -693px;  } 
.senadores.CHA-519 { background-position: right -792px;  } 
.senadores.ERI-003 { background-position: right -891px;  } 
.senadores.ERI-068 { background-position: right -990px;  } 
.senadores.ERI-501 { background-position: right -1089px;  } 
.senadores.ERI-528 { background-position: right -1188px;  } 
.senadores.ERI-545 { background-position: right -1287px;  } 
.senadores.NEU-023 { background-position: right -1386px;  } 
.senadores.NEU-040 { background-position: right -1485px;  } 
.senadores.NEU-153 { background-position: right -1584px;  } 
.senadores.NEU-166 { background-position: right -1683px;  } 
.senadores.NEU-501 { background-position: right -1782px;  } 
.senadores.NEU-505 { background-position: right -1881px;  } 
.senadores.NEU-532 { background-position: right -1980px;  } 
.senadores.NEU-533 { background-position: right -2079px;  } 
.senadores.RNO-003 { background-position: right -2178px;  } 
.senadores.RNO-014 { background-position: right -2277px;  } 
.senadores.RNO-154 { background-position: right -2376px;  } 
.senadores.RNO-501 { background-position: right -2475px;  } 
.senadores.RNO-534 { background-position: right -2574px;  } 
.senadores.SAL-014 { background-position: right -2673px;  } 
.senadores.SAL-155 { background-position: right -2772px;  } 
.senadores.SAL-203 { background-position: right -2871px;  } 
.senadores.SAL-501 { background-position: right -2970px;  } 
.senadores.SAL-535 { background-position: right -3069px;  } 
.senadores.SAL-536 { background-position: right -3168px;  } 
.senadores.SGO-061 { background-position: right -3267px;  } 
.senadores.SGO-324 { background-position: right -3366px;  } 
.senadores.SGO-501 { background-position: right -3465px;  } 
.senadores.SGO-514 { background-position: right -3564px;  } 
.senadores.SGO-540 { background-position: right -3663px;  } 
.senadores.SGO-541 { background-position: right -3762px;  } 
.senadores.TDF-002 { background-position: right -3861px;  } 
.senadores.TDF-003 { background-position: right -3960px;  } 
.senadores.TDF-158 { background-position: right -4059px;  } 
.senadores.TDF-174 { background-position: right -4158px;  } 
.senadores.TDF-199 { background-position: right -4257px;  } 
.senadores.TDF-501 { background-position: right -4356px;  } 
.senadores.TDF-544 { background-position: right -4455px;  } 