/**********************************************************************************/
/*  Global Styles                                                                 */
/**********************************************************************************/

.slashback {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPnz5//z4gsBhIwNDRkhAvCBECKwILIAmBBdAGQIADgRxNyeHcRsgAAAABJRU5ErkJggg==) repeat;	
}

.btnAct{
  background: none;
  cursor: pointer;
}

.btnIna{
  background: url("../img/selected.png");
  cursor: default;
}

/*  FILL DE LOS COLORES DE LOS PARTIDOS */

.pp1100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp2100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp3100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp4100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp5100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp6100 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp1050 {
  fill: #B3CDE3;
  background-color: #B3CDE3;
}

.pp2050 {
  fill: #B3CDE3;
  background-color: #B3CDE3;  
}

.pp3050 {
  fill: #E89A9A;
  background-color: #E89A9A;
  opacity: .75;
}

.pp4050 {
  fill: #B3CDE3;
  background-color: #B3CDE3;  
}

.pp5050 {
  fill: #DECBE4;
  background-color: #B3CDE3;  
}

.pp6050 {
  fill: #f4deb3;
  background-color: #B3CDE3;  
}

/**********************************************************************************/
/* App styles                                                                     */
/**********************************************************************************/

#app{
	width: 948px;
	height: 782px;
	position:absolute;
	top: 0px;
	left: 0px;
	border: 0px;	    
	border-spacing: 0; /* !ie*/ 	
	border-collapse:collapse; /* ie*/
}

#app #titulo{
	width: 948px;
	height: 125px;
	background: url("../img/header.png") no-repeat;
	border-bottom: 1px solid #CECECE;
}

#app #panelL{
	width: 130px;
	height: 600px;
	background-color: rgb(255, 255, 255);
	padding-right: 0px
}

#app #panelL #btn_voto, #app #panelL #btn_prov, #app #panelL #btn_part{
	width: 130px;
	height: 200px;
}

#app #panelM{
	width: 528px;
	height: 600px;
	padding: 5px 5px 0 5px;
}

#app #panelR{
	width: 290px;
	height: 600px;
	border-left: 1px solid #CECECE;
}

#app #panelR #bar_map_tit{
	width: 290px;
	height: 115px;
}

#app #panelR #bar_map_arg{
	width: 290px;
	height: 455px;
	overflow-x: hidden;
}

#app #panelR #bar_map_tot{
	border-top: 1px solid #CECECE;
	width: 290px;
	height: 30px;
}

#app #pie{
	width: 948px;
	height: 57px;
	background: url("../img/footer.png") no-repeat;
	border-top: 1px solid #CECECE;
}



/**********************************************************************************/
/* Bar Styles                                                                     */
/**********************************************************************************/
.contenedorBar{
	width: 290px;
	height: 50px;
	border-top: 1px solid #CECECE;
	padding-left: 5px;
	padding-top: 5px;
}

.nombreBar {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.barraBar {
	background-color: #FFFFFF;
	height: 15px;
	width: 1px;
}

.cantidadBar {
	font: 10px "Arial Narrow", Helvetica, sans-serif;
}

.porcentajeBar {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight:bold;
}



/**********************************************************************************/
/* Tooltip Styles                                                                 */
/**********************************************************************************/

#tooltip {
  position: absolute;
  margin: 0 0 1em 0;
  width: 12em;
  height: auto;
  padding: 5px 5px 5px 5px;
  background: #fff;
  border: solid 1px #aaa;
  display: none;
}

#tooltip  td {
  padding-top:6px;
  padding-bottom:5px;
  vertical-align: bottom;
  border-bottom: 1px solid;
  border-bottom-color:  #D8D8D8;
  
} 

#tooltip .toolHeader {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 11.3em;
}

#tooltip .toolTitulo {
  padding-right:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1.1em;
}

#tooltip .toolBarrios {
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .65em;
  background-color: white;
  color: #808080;
  line-height: 1.1em;
  display: none;
}

#tooltip .active {
  display: block;
}

#tooltip .toolTable {
  margin-top: 6px;
  margin-bottom:6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border-collapse: collapse;
}

#tooltip .toolFuerza {
  width: 2px;
  /*height: 1.4em;*/
  border-bottom-color: white;
  border-bottom-width: 5px;
}

#tooltip .toolPartido {
  padding-left:7px;
  padding-right:12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bolder;
  line-height: 1.1em;
}

#tooltip .toolPorcentaje {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: bolder;
} 

#tooltip .toolFooter {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: .7em;
  color: #808080;
}

/**********************************************************************************/
/* Map Styles                                                                     */
/**********************************************************************************/

#map_arg {
  position absolute;
}

#map_caba {
  position absolute;
}

#backbutton {
  cursor: pointer;
}

.states {
  /*background: #FFF;*/
  fill: #FAFAFA;
  /*fill: url(#states_pattern) repeat;*/
  /*fill-size: 100%;*/
  stroke: #000;
  stroke-width: 0.25pt;
  fill-opacity: 1;
}

.transparent {
  fill-opacity: 0;
}

.disabled {
  display: none;
}

.states .active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 2s ease-out;
}

div.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 5px 5px 5px 5px;
  font: 8pt sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  display: none;
}

div.tooltip div.header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 195px;
  font-weight:bold;
}

div.tooltip td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 195px;
}

div.tooltip hr {
  width: 195px;
}

path.admlevel3 {
  stroke: #ffffff;
  /*stroke: #e8e7e7;*/
  stroke-width: 0.6pt;
}

path.admlevel3:hover {
  opacity: .6;
  cursor: pointer;
}

path.admlevel2:hover {
  stroke-width: 1pt;
  cursor: pointer;
}

circle {
  /*fill:rgb(50,50,200);*/
  fill-opacity: 1;
  stroke-width: 0;
}

