
#map_arg {
  position absolute;
}

#map_caba {
  position absolute;
}

#backbutton {
  cursor: pointer;
}

.states {
  /*background: #FFF;*/
  fill: #FAFAFA;
  /*fill: url(#states_pattern) repeat;*/
  /*fill-size: 100%;*/
  stroke: #000;
  stroke-width: 0.25pt;
  fill-opacity: 1;
}

.transparent {
  fill-opacity: 0;
}

.disabled {
  display: none;
}

.states .active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 2s ease-out;
}

div.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 5px 5px 5px 5px;
  font: 8pt sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  display: none;
}

div.tooltip div.header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 195px;
  font-weight:bold;
}

div.tooltip td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 195px;
}

div.tooltip hr {
  width: 195px;
}

path.admlevel3 {
  stroke: #ffffff;
  /*stroke: #e8e7e7;*/
  stroke-width: 0.6pt;
}

path.admlevel3:hover {
  opacity: .6;
  cursor: pointer;
}

path.admlevel2:hover {
  fill:rgb(50,50,200);
  stroke-width: 1pt;
  cursor: pointer;
}

circle {
  /*fill:rgb(50,50,200);*/
  fill-opacity: 1;
  stroke-width: 0;
}

/*  FILL DE LOS COLORES DE LOS PARTIDOS */

.pp1100 {
  fill: #B3CDE3;
}

.pp2100 {
  fill: #B3CDE3;
}

.pp3100 {
  fill: #B3CDE3;
}

.pp4100 {
  fill: #B3CDE3;
}

.pp5100 {
  fill: #B3CDE3;
}

.pp6100 {
  fill: #B3CDE3;
}

.pp1050 {
  fill: #B3CDE3;
}

.pp2050 {
  fill: #B3CDE3;
  
}

.pp3050 {
  fill: #E89A9A;
  opacity: .75;
}

.pp4050 {
  fill: #B3CDE3;
}

.pp5050 {
  fill: #DECBE4;
}

.pp6050 {
  fill: #f4deb3;
}

