
/**********************************************************************************/
/*  Global Styles                                                                 */
/**********************************************************************************/

.slashback {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAKElEQVQIW2NkQAPnz5//z4gsBhIwNDRkhAvCBECKwILIAmBBdAGQIADgRxNyeHcRsgAAAABJRU5ErkJggg==) repeat;	
}

.btnLeftAct{
	background: url("../img/bgLeft.png");
	background-position: 0 -400px;
  	cursor: pointer;
}

.btnLeftAct:hover{
	background: url("../img/bgLeft.png");
	background-position: 0 -200px;
}

.btnLeftIna{
	background: url("../img/bgLeft.png");
 	background-position: 0 0px;
  	cursor: default;
}

/**********************************************************************************/
/*  COLORES DE LAS FUERZAS POLITICAS                                              */
/**********************************************************************************/
.fp_K {
	fill: #B3CDE3;
	background-color: #B3CDE3;
}

.fp_PJ {
	fill: #DECBE4;
	background-color: #DECBE4;
}

.fp_FP {
	fill: #efb6b6;
	background-color: #efb6b6;
}

.fp_PRO {
	fill: #f4deb3;
	background-color: #f4deb3;
}

.fp_IZ {
	fill: #cfd5b8;
	background-color: #cfd5b8;
}

.fp_OT {
	fill: #d8d7d6;
	background-color: #d8d7d6;
}

.fp_SFP { /*Sin Fuerza Política*/
	fill: #ff9999;
	background-color: #ff9999;
}

/**********************************************************************************/
/*  CONTENEDOR                                                                    */
/**********************************************************************************/

#contenedorApp{
	width: 950px;
	height: 822px;
	position:absolute;
	top: 0px;
	left: 0px;
	border: 0px;	    
	border-spacing: 0; /* !ie*/ 	
	border-collapse:collapse; /* ie*/
	overflow: hidden;

}

#contenedorApp #cabezal{
	width: 950px;
	height: 155px;
	position:absolute;
	top: 0px;
	left: 0px;
	border: 0px;
}

#contenedorApp #cabezal #titulo {
	position:absolute;
	top: 60px;
	left: 0px;	
	height: 30px;
	width: 381px;
	font-family: Georgia, serif;
	font-size: 140%;
	font-weight: lighter;
}

#contenedorApp #cabezal #diputadosBtn, #contenedorApp #cabezal #senadoresBtn {
	font-family: Arial,Helvetica,sans-serif;
    font-size: 90%;	
	height: 25px;
	width: 175px;
	border-left: 1px solid #CECECE;
    cursor: pointer;
    position: absolute;
}

#contenedorApp #cabezal #diputadosBtn:hover, #contenedorApp #cabezal #senadoresBtn:hover{
	font-weight: bold;
}

.diputadosBtnSelected{
	background: url("../img/dipusenasprite.png") no-repeat 0 0px;
  	cursor: default;
}

.diputadosBtnNotSelected{
	background: url("../img/dipusenasprite.png") no-repeat 0 -25px;
  	cursor: pointer;
}

.senadoresBtnSelected{
	background: url("../img/dipusenasprite.png") no-repeat 0 -50px;
  	cursor: default;
}

.senadoresBtnNotSelected{
	background: url("../img/dipusenasprite.png") no-repeat 0 -75px;
  	cursor: pointer;
}

#contenedorApp #selectorMapa {
	width: 35px;
	height: 19px;
	position: absolute;
	top: 142px;
}

.selectDiputados{
	background: url("../img/selectores.png") no-repeat 0 0px;
	left: 21px;	
}

.selectSenadores{
	background: url("../img/selectores.png") no-repeat 0 -19px;
	left: 212px;	
}

#contenedorApp #cabezal #diputadosBtn{
	position:absolute;
	top: 109px;
	left: 2px;
}

#contenedorApp #cabezal #senadoresBtn{
    position: absolute;
    left: 192px;
    top: 109px;
}

#contenedorApp #cabezal #diputadosBtn span, #contenedorApp #cabezal #senadoresBtn span {
    bottom: -4px;
    position: absolute;
    right: 26px;
}

#contenedorApp #cabezal #referenciasGenerales, #contenedorApp #cabezal #referenciasVotos{
	border-left: 1px solid #CECECE;
	border-right: 1px solid #CECECE;
	height: 86px;
    left: 382px;
    position: absolute;
    top: 54px;
    width: 218px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 71.5%;
	color: #949493;
	line-height: 130%;
}

#contenedorApp #cabezal #referenciasGenerales p, #contenedorApp #cabezal #referenciasVotos p{
	margin-left: 10px;
	margin-right: 10px;
}	
	
#contenedorApp #cabezal #referenciasColores	{
	background: url("../img/colores.png") no-repeat;
    height: 86px;
    left: 602px;
    position: absolute;
    top: 54px;
    width: 345px;
}
	
#contenedorApp #contenido{
	width: 950px;
	height: 600px;
	position: absolute;
	top: 156px;
	left: 0px;
	border-top: 1px solid #CECECE;
	border-bottom: 1px solid #CECECE;
}

#contenedorApp #contenido #botones{
	width: 130px;
	height: 600px;
	top: 0px;
	left: 0px;
}

#contenedorApp #contenido #botones #provBtn, #contenedorApp #contenido #botones #partBtn, #contenedorApp #contenido #botones #votoBtn{
	width: 130px;
	height: 200px;
	left: 0px;
}

#contenedorApp #contenido #map_arg{
	width: 529px;
	height: 600px;
	top: 0px;
	left: 130px;	
	position: absolute;
}

#contenedorApp #contenido #barras{
	width: 290px;
	height: 600px;
	border-left: 1px solid #CECECE;
	top: 0px;
	right: 0px;	
	position: absolute;
}

#contenedorApp #contenido #barras #referenciaBarras{
	width: 290px;
	height: 115px;
	background: url("../img/bgRight.png") no-repeat;
	background-position: 0 0px;		
}	

#contenedorApp #contenido #barras #graficoBarras{
	width: 290px;
	height: 455px;
	background-color: #FFFFFF;
	overflow-x: hidden;
}

#contenedorApp #contenido #barras #totalBarras{
	border-top: 1px solid #CECECE;
	width: 290px;
	height: 30px;
	background: url("../img/bgRight.png") no-repeat;
	background-position: 0 -230px;	
}



.descMuestro {
  display: inline;
}

.descOculto {
  display: none;
}


/**********************************************************************************/
/* General Bar Styles                                                             */
/**********************************************************************************/
.contenedorBar{
	width: 285px;
	height: 62px;
	border-top: 1px solid #CECECE;
	padding-left: 5px;
	padding-top: 11px;
}

.nombreBar {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.barraBar {
	background-color: #FFFFFF;
	height: 24px;
	width: 1px;
	position:relative;
	top: 10px;
}

.cantidadBar {
	font: 10px "Arial Narrow", Helvetica, sans-serif;
	position:relative;
	top:-18px;
	color: #808080;
}

.porcentajeBar {
	font: 14px Arial, Helvetica, sans-serif;
	font-weight:bold;
	position:relative;
	top:-20px;
}

/**********************************************************************************/
/* Detailed Bar Styles                                                            */
/**********************************************************************************/

.contenedorDet {
	width: 285px;
	height: 60px;
	border-top: 1px solid #CECECE;
	padding-left: 5px;
	padding-top: 10px;
	overflow: hidden;
}

.nombreDet {
	font: 11px Arial, Helvetica, sans-serif;
	font-weight:bold;
}

.barraDet {
	background-color: #FFFFFF;
	height: 10px;
	width: 1px;
	position:relative;
	top: 7px;
}

.porcentajeDet {
	font: 12px Arial, Helvetica, sans-serif;
	font-weight:bold;
	position:relative;
	top: -6px;
}

.cantidadDet {
	font: 10px "Arial Narrow", Helvetica, sans-serif;
	position:relative;
	top: -20px;
	color: #808080;
}

.tituloInternaDet {
	font: 9px "Arial", Helvetica, sans-serif;
	position:relative;
	top: -15px;
	color: #000000;
}

.tituloInternaDet:hover {
	background-color: #eeeeee;
  	cursor: pointer;
}

.contenidoInternaDet {
	font: 12px Arial , Helvetica, sans-serif;
	color: #808080;
}


/**********************************************************************************/
/* Tooltip Styles                                                                 */
/**********************************************************************************/

#tooltip {
  position: absolute;
  margin: 0 0 1em 0;
  width: 12em;
  height: auto;
  padding: 5px 5px 5px 5px;
  background: #fff;
  border: solid 1px #aaa;
  display: none;
}

#tooltip  td {
  padding-top:6px;
  padding-bottom:5px;
  vertical-align: bottom;
  border-bottom: 1px solid;
  border-bottom-color:  #D8D8D8;
  
} 

#tooltip .toolHeader {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 11.3em;
}

#tooltip .toolTitulo {
  padding-right:10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1.1em;
}

#tooltip .toolBarrios {
  margin-top: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .65em;
  background-color: white;
  color: #808080;
  line-height: 1.1em;
  display: none;
}

#tooltip .active {
  display: block;
}

#tooltip .toolTable {
  margin-top: 6px;
  margin-bottom:6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border-collapse: collapse;
}

#tooltip tr>td:nth-child(1) {
  width: 2px;
  /*height: 1.4em;*/
  border-bottom-color: white;
  border-bottom-width: 5px;
}

#tooltip .toolPartido {
  padding-left:7px;
  padding-right:12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75em;
  font-weight: bolder;
  line-height: 1.1em;
}

#tooltip .toolPorcentaje {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90%;
  font-weight: bolder;
} 

#tooltip .toolFooter {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: .7em;
  color: #808080;
}

/**********************************************************************************/
/* Map Styles                                                                     */
/**********************************************************************************/

#preloader {
  top: 300px;
  left: 200px;
  background: rgba(255, 255, 255, 0.8);
  filter: alpha(opacity=80); /*ie*/
  position: absolute;
  width:100%;
  height:822px;
  display: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:120%;
  font-weight: bold;
  line-height: 75%;
  color:#949493;  
}

#map_arg {
  position: absolute;
  padding: 5px 5px 5px 5px;
}

#map_caba {
  position: absolute;
}

#backbutton {
  cursor: pointer;
}

.states {
  /*background: #FFF;*/
  fill: #FAFAFA;
  /*fill: url(#states_pattern) repeat;*/
  /*fill-size: 100%;*/
  stroke: #000000;
  stroke-width: 0.25pt;
  fill-opacity: 1;
}

.transparent {
  fill-opacity: 0;
}

.disabled {
  display: none;
}

.states .active {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 2s ease-out;
}

div.tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 5px 5px 5px 5px;
  font: 8pt sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  display: none;
}

div.tooltip div.header {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 195px;
  font-weight:bold;
}

div.tooltip td {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  width: 195px;
}

div.tooltip hr {
  width: 195px;
}

path.admlevel3 {
  stroke: #ffffff;
  /*stroke: #e8e7e7;*/
  stroke-width: 0.6pt;
}

path.admlevel3:hover {
  opacity: .6;
  cursor: pointer;
}

path.admlevel2:hover {
  stroke-width: 1pt;
  cursor: pointer;
}

circle {
  /*fill:rgb(50,50,200);*/
  fill-opacity: 1;
  stroke-width: 0;
}

/**********************************************************************************/
/* Modal de Créditos                                                              */
/**********************************************************************************/

#modal {
	top: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.8);
	filter: alpha(opacity=80); /*ie*/
	position: absolute;
	width:100%;
	height:822px;
	display: none;
}

#modal #creditosModal{
	margin-top:5%;
    margin-left:auto;
    margin-right:auto;
	width: 500px;
    height: 600px;
    border: 1px solid #CECECE;
    padding: 30px;
    -webkit-user-select: none;
    -moz-user-select: none; 
    user-select: none;
	background-color: #ffffff;
}
   
#modal #creditosModal #btn_cerrar{
	float: right;
	cursor: pointer;
}

#modal #creditosModal #tituloModal {
	font:Georgia,serif;
	font-size:140%;
	font-weight: lighter;
}

#modal #creditosModal #tituloModal span {
	color:#e06153;
}

#modal #creditosModal .subtitulo {
	margin-top:6%;
}

#modal #creditosModal .subtitulo span {
	background-color:black;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	padding: .5% 1% .5% 1%;
	font-weight: lighter;
}

#modal #creditosModal .textoModal {
	font-family:Arial, Helvetica, sans-serif;
	font-size:80%;
	font-weight: bold;
	line-height: 75%;
	color:#949493;	
}

#modal #creditosModal .textoModal span {
	color:black;
}

#modal #creditosModal .textoModal .linkModal {
	float:right;
	padding:.6% .8% .6% .8%;
	background-color:#e8e7e7;	
	color:#e06153;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70%;
	text-decoration:none;
}

#modal #creditosModal .textoModal .linkModal:hover {
	background-color:#e06153;	
	color:white;
	cursor: pointer
}

#modal #creditosModal .separadorModal {
	height: 0; 
	border-style: dotted; 
	border-width: 1px 0 0 0; 
	border-color: #b8b7b6;
}

#modal #creditosModal .copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 55%;
	color:#949493;
	line-height:200%;
	float:right;
}

/**********************************************************************************/
/* Footer                                                              */
/**********************************************************************************/

#contenedorApp #footer{
	padding-top:1.5%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 71.7%;
	text-align: left;
	color: black;
	width: 950px;
	height: 40px;
	position:absolute;
	top: 760px;
	left: 0px;
	border: 0px;	    
}

#contenedorApp #footer .creditos {
	display:inline;
}

#contenedorApp #footer #creditos {
	padding-right:1%;
	border-right: 1px solid #808080;
	font-weight: bold;
}


#contenedorApp #footer #creditos:hover {
	color: #949493;
	cursor: pointer;
}

#contenedorApp #footer #ppagrupados {
	padding-left:1%;
	font-weight: bold;
}

#contenedorApp #footer #ppagrupados:hover {
	color: #949493;
	cursor: pointer;
}

#contenedorApp #footer .creditos span {
	color:#E06153;
}

#contenedorApp #footer #feedback a {
	float:right;
}

#contenedorApp #footer #feedback a {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	color: #949493;
}

#contenedorApp #footer #feedback a:hover {
	color: black;
	cursor: pointer;
}


