/**********************************************************************************/
/*  COLORES DE LAS FUERZAS POLITICAS                                              */
/**********************************************************************************/
.fp_K {
	fill: #95ccee;
	background-color: #95ccee;
}

.fp_PJ {
	fill: #c3adce;
	background-color: #c3adce;
}

.fp_FP {
	fill: #eea196;
	background-color: #eea196;
}

.fp_PRO {
	fill: #f3dd4a;
	background-color: #f3dd4a;
}

.fp_IZ {
	fill: #b6c79f;
	background-color: #b6c79f;
}

.fp_OT {
	fill: #d8d7d6;
	background-color: #d8d7d6;
}

.fp_SFP { /*Sin Fuerza Política*/
	fill: #666666;
	background-color: #666666;
}